@import 'semantic';
/* My Styles */
h1,
h2,
h3,
h4,
p {
    color: #fff;
    padding-top: 1em;
}
b h1 {
    font-size: 3em;
}
.ui.grid > .column:not(.row) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.container {
    background: rgba(0,0,0,0.75);
}
body,
html {
    background: url("../img/bg.jpg");
}
.column {
    // padding-top: 2em;
}
